<p><span style="font-family: arial, helvetica, sans-serif; font-size: medium;">The <em>FXML editor .jar executable</em> and the <em>project JavaFx configuration file</em> can either be located using absolute file-system paths -or- programmatically generated paths aided by the following tags:</span></p>
<p><span style="font-family: arial, helvetica, sans-serif; font-size: medium;"><strong>#ECLIPSE_DIR#</strong> -- Returns the Eclipse installation directory .</span></p>
<p><span style="font-family: arial, helvetica, sans-serif; font-size: medium;"><strong>#WORKSPACE_DIR#</strong> -- Returns the projects workspace directory.</span></p>
<p><span style="font-family: arial, helvetica, sans-serif; font-size: medium;"><strong>#PROJECT_DIR#</strong> -- Returns the currently active project directory.</span></p>
<p><span style="font-family: arial, helvetica, sans-serif; font-size: medium;"><strong>#PLUGIN_DIR#</strong> -- Returns the installation directory of the ide.fxml.edit plugin (used by default for locating the intgrated FXML editor).</span></p>